@keyframes open_menu {
    0% {
        height: 0;
        opacity: 0;
    }

    20% {
        height: auto;
        opacity: 0;
    }

    25% {
        height: auto;
        opacity: 0.25;
    }

    50% {
        height: auto;
        opacity: 0.5;
    }

    75% {
        height: auto;
        opacity: 0.75;
    }

    100% {
        height: auto;
        opacity: 1;
    }
}