$color-background-body: #f1f1e6;
$color-background: #0e1529;
$color-font-light: #f7f9ff;
$color-font-dark: #332914;

$link-color: #555;

$link-on-hover: lighten(
    $color: #555,
    $amount: 30%
);

$link-active: lighten(
    $color: #555,
    $amount: 10%
);