.header {
    
    &__main-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    padding: 1rem 3rem;

    @media (max-width: 768px) {
        padding: 1rem;
    }
}