.header {
    &__main-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .brand {
            a {
                display: flex;
                justify-content: center;
                gap: 0.5rem;

                .logo {
                    width: 3.5rem;
                    height: 3.5rem;
                    max-width: 3.5rem;
                    max-height: 3.5rem;
                }

                text-decoration: none;
                color: $color-font-light;
            }
        }
    }

    padding: 1rem 3rem;

    @media (max-width: 768px) {
        padding: 1rem;
    }
}
