.header {
    &__main-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .brand {
            a {
                display: flex;
                justify-content: center;
                gap: 1.5rem;

                padding: 1rem 2rem;

                .logo {
                    width: 10.5rem;
                    height: 10.5rem;
                    max-width: 10.5rem;
                    max-height: 10.5rem;
                }

                text-decoration: none;
            }

            // &__text {}
        }
    }

    padding: 1rem 3rem;

    @media (max-width: 768px) {
        padding: 1rem;
    }
}
