.main {
    flex-grow: 1;
    margin: 0;
    padding-bottom: 15rem;
    background-image: url(../../app/images/wave.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    
    @media (max-width: 768px) {
        padding: 1rem;
        padding-bottom: 10rem;
    }
}