.main {
    flex-grow: 1;
    padding: 3rem;
    padding-bottom: 25rem;
    margin-bottom: -1px;
    background-image:
        url(../../app/images/wave.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    
    @media (max-width: 768px) {
        padding: 2rem;
        padding-bottom: 12rem;
    }
}