/* Abstracts */
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;700;900&family=Public+Sans:wght@400;700;900&display=swap");
@keyframes open_menu {
  0% {
    height: 0;
    opacity: 0;
  }
  20% {
    height: auto;
    opacity: 0;
  }
  25% {
    height: auto;
    opacity: 0.25;
  }
  50% {
    height: auto;
    opacity: 0.5;
  }
  75% {
    height: auto;
    opacity: 0.75;
  }
  100% {
    height: auto;
    opacity: 1;
  }
}
/* Vendor */
/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
}

body {
  font-family: "Public Sans", sans-serif;
  letter-spacing: 1px;
  color: #333;
}

.brand__text {
  font-size: 2.4rem;
  font-family: "Prompt", sans-serif;
  letter-spacing: normal;
}

.menu {
  font-size: 1.4rem;
}

.results__heading {
  font-size: 1.6rem;
}
.results__label {
  font-weight: normal;
}

.card__title {
  font-size: 2rem;
  font-weight: bold;
}
.card__description {
  font-size: 1.4rem;
}
.card__link {
  font-size: 1.4rem;
}
.card__category {
  font-size: 1.4rem;
}
.card__details {
  font-size: 1.2rem;
}

.search-bar {
  font-size: 1.4rem;
}

.button-search {
  font-weight: bold;
  font-size: 1.6rem;
}

.footer {
  font-size: 1.2rem;
}

/* Layout */
.header {
  padding: 1rem 3rem;
}
.header__main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header {
    padding: 1rem;
  }
}

.main {
  flex-grow: 1;
  margin: 3rem;
}
@media (max-width: 768px) {
  .main {
    margin: 1rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.footer a {
  color: #333;
  text-decoration: none;
}
.footer .row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer .row:nth-child(2) {
  align-self: center;
}
@media (max-width: 768px) {
  .footer .row {
    flex-direction: column;
    gap: 1rem;
  }
}
.footer .dedicatory {
  display: flex;
  align-items: center;
}
.footer .dedicatory .icon {
  width: 1.6rem;
  margin: 0 0.4rem;
}
.footer .view-on-github {
  display: flex;
  align-items: center;
}
.footer .view-on-github .icon {
  margin-left: 0.5rem;
}
.footer .links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.footer .links .link .link-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .links .link .link-content span {
  font-size: 0.8rem;
}
.footer .issue-link {
  display: flex;
  align-items: center;
  color: #333;
  border: 1px solid #777;
  border-radius: 1rem;
  padding: 0.5rem 1.2rem;
  margin: 1rem 0;
}
.footer .issue-link a {
  text-decoration: none;
  color: #333;
}
.footer .issue-link .icon {
  width: 1.5rem;
}

/* Components */
.card {
  padding: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 1.4rem;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  box-shadow: 0 1px 5px 1px #aaa;
  transition: transform 0.2s;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  /*
  &__title {}

  &__description {}

  &__link {}

  &__category {}
  */
}
.card__details {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  display: none;
}
.card:hover {
  transform: scale(1.01) translateZ(0);
  box-shadow: 0 2px 8px 1px #aaa;
}

.menu__navigation ul {
  list-style: none;
  display: flex;
  gap: 1.6rem;
}
.menu__navigation ul a {
  text-decoration: none;
  color: #555;
}
.menu__navigation ul a:hover {
  color: #a2a2a2;
}
.menu__navigation ul a:active {
  color: #6f6f6f;
}
.menu__navigation ul a.active {
  color: #6f6f6f;
  font-weight: bold;
}
@media (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu-small {
  position: relative;
}
@media (min-width: 768px) {
  .menu-small {
    display: none;
  }
}
.menu-small__button-menu, .menu-small__button-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.menu-small__button-menu .icon, .menu-small__button-close .icon {
  height: 4rem;
  width: 4rem;
}
@media (max-width: 768px) {
  .menu-small__button-menu, .menu-small__button-close {
    display: block;
  }
}
@media (min-width: 769px) {
  .menu-small__button-menu, .menu-small__button-close {
    display: none;
  }
}
.menu-small .hidden {
  display: none;
}
.menu-small__navigation, .menu-small__navigation * {
  height: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.menu-small__navigation ul {
  margin-top: 1.6rem;
  list-style: none;
  font-size: 2.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 3rem;
}
.menu-small__navigation ul a {
  text-decoration: none;
  color: #555;
}
.menu-small__navigation ul a:hover {
  color: #a2a2a2;
}
.menu-small__navigation ul a.active {
  font-weight: bold;
  color: #6f6f6f;
}
.menu-small .show, .menu-small .show * {
  animation: open_menu both 0.2s;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
}
.results__name .item:not(:last-child) {
  margin-right: 1rem;
}
.results__name .item:not(:last-child)::after {
  content: ",";
}
.results__name .item:last-child::after {
  content: ".";
}

.results-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}
.results-list .result-item {
  list-style: none;
  flex-grow: 1;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .results-list .result-item {
    width: 45%;
  }
}
@media (min-width: 1025px) {
  .results-list .result-item {
    width: 33%;
  }
}

.no-results {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.4rem;
}

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 50vh;
  margin: 2rem;
}
.search-bar .options {
  display: flex;
  gap: 3rem;
}
.search-bar .options .field-input {
  display: flex;
  gap: 0.4rem;
}

.text-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  width: 80vw;
}
@media (max-width: 768px) {
  .text-input {
    width: 100%;
  }
}
.text-input input[type=text] {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1.2rem 4.2rem;
  font-size: 2rem;
  width: 100%;
  position: relative;
  z-index: 100;
  background-color: transparent;
  box-shadow: 0 0.5rem 0.5rem -0.2rem #ccc;
}
.text-input input[type=text]::placeholder {
  color: transparent;
}
.text-input label {
  position: absolute;
  left: 4.2rem;
  font-size: 2rem;
  color: #aaa;
  transition: all 0.1s ease-out;
}
.text-input input[type=text]:not(:placeholder-shown) ~ label {
  color: #777;
  top: -1rem;
  font-size: 1.2rem;
  background-color: white;
  z-index: 200;
  padding: 0 0.5rem;
}
.text-input .input-icon {
  position: absolute;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
}
.text-input .input-icon__left {
  left: 1.2rem;
}
.text-input .input-icon__right {
  right: 1.2rem;
  z-index: 300;
  cursor: pointer;
}
.text-input input[type=text]:placeholder-shown ~ .input-icon__right {
  display: none;
}

.button-search {
  background-color: #777;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  color: #eee;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 0.5rem 0 #aaa;
}
.button-search:hover:not(:active) {
  transform: scale(1.1);
  box-shadow: 0 0.5rem 0.5rem -0.2rem #aaa;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}
.button-search:active {
  transform: scale(1.05);
  box-shadow: 0 0.5rem 0.5rem -0.1rem #aaa;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* Pages */
.about__heading {
  font-size: 3.2rem;
  margin-bottom: 3rem;
}
.about p {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.homepage__heading {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.homepage__heading--main {
  font-size: 2.4rem;
  line-height: 2;
}
.homepage__heading--sub {
  font-size: 1.4rem;
  font-weight: normal;
}
.homepage .categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.4rem;
  margin: 2rem 1rem;
}
.homepage .categories-list .category {
  list-style: none;
  border: 1px solid #777;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s;
  flex-grow: 1;
  max-width: fit-content;
}
@media (max-width: 768px) {
  .homepage .categories-list .category {
    max-width: 100%;
  }
}
.homepage .categories-list .category a {
  padding: 1.4rem;
  text-decoration: none;
  color: #333;
  font-size: 1.4rem;
}
.homepage .categories-list .category:hover {
  background-color: #333;
  transform: scale(1.1);
}
.homepage .categories-list .category:hover a {
  color: #eee;
}

.category {
  display: flex;
  gap: 2rem;
}
@media (max-width: 768px) {
  .category {
    flex-direction: column;
  }
}
.category .categories-list {
  font-size: 1.4rem;
}
@media (max-width: 768px) {
  .category .categories-list {
    order: 1;
    /*
    position: absolute;
    top: 0;
    background-color: #999;

    */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    font-size: 2rem;
    align-items: center;
    padding: 2rem 0;
  }
}
.category .categories-list .category {
  list-style: none;
  margin-bottom: 12px;
}
.category .categories-list .category a {
  text-decoration: none;
  color: #333;
}
.category .categories-list .category a:hover {
  color: gray;
}
.category .categories-list .category__selected {
  font-weight: bold;
}

/* Themes */

/*# sourceMappingURL=index.css.map */
