.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.5rem;
    background-color: transparent;
    padding: 1rem 2rem;
}

@keyframes button-hover {
    from {
        scale: 1;
        @include scale-helper;
    }
    to {
        scale: 1.1;
        @include scale-helper;
    }
}

@keyframes button-normal {
    from {
        scale: 1.1;
        @include scale-helper;
    }
    to {
        scale: 1;
        @include scale-helper;
    }
}

.button-search {
    background-color: $color-background;
    color: $color-font-light;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    cursor: pointer;
    box-shadow: 0 0.5rem 0.5rem 0 #aaa;
    animation: button-normal .2s both;
    transition: scale 0.2s;

    &:hover:not(:active) {
        box-shadow: 0 0.5rem 0.5rem -0.2rem #aaa;
        animation: button-hover .2s both;
    }

    &:active {
        box-shadow: 0 0.5rem 0.5rem -0.1rem #aaa;
    }
}
