.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-search {
    background-color: #333;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 3rem;
    color: #eee;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 0 .5rem .5rem 0 #aaa;
    
    &:hover:not(:active) {
        //background-color: lighten($color: #777, $amount: 10%);
        transform: scale(1.1);
        box-shadow: 0 .5rem .5rem -.2rem #aaa;
        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
    }

    &:active {
        transform: scale(1.05);
        box-shadow: 0 .5rem .5rem -.1rem #aaa;
        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
    }
}