$color-card-shadow: #aaa;

@keyframes card-scale-up {
    from {
        scale: 1;
        @include scale-helper;
    }
    to {
        scale: 1.04;
        @include scale-helper;
    }
}

@mixin card-animation {
    box-shadow: 0 .1rem .8rem 0 $color-card-shadow;
    transition: all .2s;

    &:hover {
        box-shadow: 0 .1rem .8rem -.2rem $color-card-shadow;
        animation: card-scale-up .2s both;
    }
}

.card {
    padding: 0.5rem;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    &__details {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        display: none;
    }

    @include card-animation();
}