.menu {

    margin-top: 2rem;

    &__navigation {
        ul {
            list-style: none;
            display: flex;
            gap: 1.6rem;

            li {
                width: 8rem;
                text-align: center;
            }
        }
    }

    @media (max-width: 768px) {
        display: none;
    }
}

.menu-small {
    position: relative;

    @media (min-width: 768px) {
        display: none;
    }

    &__button-menu,
    &__button-close {
        background-color: transparent;
        border: none;
        cursor: pointer;

        .icon {
            height: 4rem;
            width: 4rem;
        }

        @media (max-width: 768px) {
            display: block;
        }

        @media (min-width: 769px) {
            display: none;
        }
    }

    &__button-menu.hidden,
    &__button-close.hidden {
        display: none;
    }

    &__navigation, &__navigation * {
        transition: all 0.2s ease-in-out;
    }

    &__navigation {
        
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            padding: 0 3rem;

            li {
                margin: 1rem 0;
            }
        }
    }

    &__navigation.hidden {
        display: none;
    }
    
    .show, .show * {
        animation: open_menu both 0.2s;
    }
}