.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 5rem 1rem;

    .options {
        display: flex;
        gap: 3rem;
    }
}