.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 50vh;
    margin: 2rem;

    .options {
        display: flex;
        gap: 3rem;

        .field-input {
            display: flex;
            gap: 0.4rem;
        }
    }
}