@keyframes label-up {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(-50%);
        z-index: 200;
    }
}

@keyframes label-down {
    0% {
        transform: translateY(-50%);
        z-index: 200;
    }
    100% {
        transform: translateY(-50%);
    }
}

$horizontal-margins: 6.2rem;

.text-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    width: 80%;
    border-radius: 0.5rem;
    box-shadow: 0 .2rem .4rem 0 $color-shadow-1;
    transition: all .2s ease-in-out;

    &:focus-within {
        /* the focusable element is the input, which is a child */
        box-shadow: 0 .5rem 1.5rem -0.1rem rgba($color-shadow-1, .75);
    }

    @media (max-width: 768px) {
        width: 100%;
    }

    input[type="text"] {
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        padding: 2rem $horizontal-margins;
        font-size: 2.4rem;
        width: 100%;
        position: relative;
        z-index: 100;
        background-color: transparent;

        &::placeholder {
            color: transparent;
        }
    }

    label {
        position: absolute;
        top: calc(50%);
        transform: translateY(-50%);
        left: $horizontal-margins;
        font-size: 2rem;
        transition: all 0.1s ease-in-out;
    }

    input[type="text"]:not(:placeholder-shown) ~ label {
        animation: label-up 0.1s both;
        backface-visibility: hidden;
        font-size: 1.2rem;
        top: 1.2rem;
    }

    input[type="text"]:placeholder-shown ~ label {
        animation: label-down 0.1s both;
        backface-visibility: hidden;
    }

    .input-icon {
        position: absolute;
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 3rem;
            height: 3rem;
        }

        &__left {
            transform: translateY(0.2rem);
            left: 2rem;
        }

        &__right {
            right: 2rem;
            z-index: 300;
            cursor: pointer;
        }
    }

    input[type="text"]:placeholder-shown ~ .input-icon__right {
        display: none;
    }
}
