$horizontal-margins: 5.4rem;

.text-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    width: 80%;
    

    @media (max-width: 768px) {
        width: 100%;
    }

    input[type="text"] {
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        padding: 2rem $horizontal-margins;
        font-size: 2.4rem;
        width: 100%;
        position: relative;
        z-index: 100;
        background-color: transparent;
        box-shadow: 0 .5rem .5rem -.2rem #ccc;

        &::placeholder {
            color: transparent;
        }
    }

    label {
        position: absolute;
        top: calc(50%);
        transform: translateY(-50%);
        left: $horizontal-margins;
        font-size: 2rem;
        color: #aaa;
        transition: all 0.3s ease-in-out;
    }

    input[type="text"]:not(:placeholder-shown) ~ label {
        animation: label-up .3s both;
        backface-visibility: hidden;
    }

    input[type="text"]:placeholder-shown ~ label {
        animation: label-down .3s both;
        backface-visibility: hidden;
    }

    .input-icon {
        position: absolute;
        
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        
        color: #777;

        &__left {
            left: 2rem;
        }

        &__right {
            right: 2rem;
            z-index: 300;
            cursor: pointer;
        }
    }
    
    input[type="text"]:placeholder-shown ~ .input-icon__right {
        display: none;
    }
}