@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;700;900&family=Public+Sans:wght@400;700;900&display=swap");

body {
    font-family: "Public Sans", sans-serif;
    letter-spacing: 1px;
    color: #333;
}

.brand {
    &__text {
        font-size: 2.4rem;
        font-family: "Prompt", sans-serif;
        letter-spacing: normal;
    }
}

.menu {
    font-size: 1.4rem;
}

.results {
    &__heading {
        font-size: 1.6rem;
    }

    &__label {
        font-weight: normal;
    }
}

.card {
    &__title {
        font-size: 2rem;
        font-weight: bold;
    }

    &__description {
        font-size: 1.4rem;
    }

    &__link {
        font-size: 1.4rem;
    }

    &__category {
        font-size: 1.4rem;
    }

    &__details {
        font-size: 1.2rem;
    }
}

.search-bar {
    font-size: 1.4rem;
}

.button-search {
    font-weight: bold;
    font-size: 1.6rem;

}

.footer {
    font-size: 1.2rem;
}