@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;700;900&family=Public+Sans:wght@400;700;900&display=swap");

body {
    font-family: "Public Sans", sans-serif;
    letter-spacing: 1px;
}

.homepage {
    &__heading {
        &--main {
            font-size: 2.4rem;
            line-height: 2;
        }

        &--sub {
            font-size: 1.4rem;
            font-weight: normal;
        }
    }

    .categories-list {
        .category {
            font-weight: bold;

            a {
                font-size: 1.4rem;
            }
        }
    }
}

.category-page {
    .categories-list {
        font-size: 1.4rem;

        @media (max-width: 768px) {
            font-size: 2rem;
        }

        .category {
            &--selected {
                font-weight: bold;
            }
        }
    }
}

.about {
    &__heading {
        font-size: 3.2rem;
    }

    p {
        font-size: 1.6rem;
        line-height: 1.8;
    }
}

.brand {
    &__text {
        font-size: 2.8rem;
        font-family: "Prompt", sans-serif;
        letter-spacing: normal;
    }
}

.menu {
    font-size: 1.4rem;
}
.menu-small {
    font-size: 2.1rem;
}

.menu,
.menu-small {
    &__navigation {
        ul {
            a {
                text-decoration: none;

                &:hover {
                    font-weight: bold;
                }
            }

            a.active {
                font-weight: bold;
            }
        }
    }
}

.results {
    &__heading {
        font-size: 1.6rem;
    }

    &__label {
        font-weight: normal;
    }
}

.card {
    &__title {
        font-size: 2rem;
        font-weight: bold;
    }

    &__description {
        font-size: 1.4rem;
    }

    &__link {
        font-size: 1.4rem;
    }

    &__category {
        font-size: 1.4rem;
    }

    &__details {
        font-size: 1.2rem;
    }
}

.search-bar {
    font-size: 1.4rem;
}

.button-search {
    font-weight: bold;
    font-size: 2rem;
}

.footer {
    font-size: 1.2rem;
}
