.category-page {
    display: flex;
    gap: 2rem;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    .categories-list {
        @media (max-width: 768px) {
            order: 1;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.4rem;
            align-items: center;
            padding: 2rem 0;
        }

        .category {
            list-style: none;
            margin-bottom: 12px;

            &--selected {
                cursor: default;
            }
        }
    }
}
