.category-page {
    display: flex;
    gap: 2rem;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    .categories-list {
        font-size: 1.4rem;

        @media (max-width: 768px) {
            order: 1;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.4rem;
            font-size: 2rem;
            align-items: center;
            padding: 2rem 0;
        }

        .category {
            list-style: none;
            margin-bottom: 12px;
            
            &--selected {
                font-weight: bold;
                cursor: default;
            }
            
            &:hover:not(&--selected) a {
                color: lighten($color: $color-font-dark, $amount: 30%);
            }

            a {
                text-decoration: none;
                color: $color-font-dark;
            }
        }
    }
}
