.homepage {

    &__logo {

        display: flex;
        justify-content: center;
        
        .logo {
            width: 10rem;
            height: 10rem;
        }
    }

    &__heading {
        text-align: center;
        display: flex;
        flex-direction: column;

        &--main {
            font-size: 2.4rem;
            line-height: 2;
        }

        &--sub {
            font-size: 1.4rem;
            font-weight: normal;
        }
    }

    .categories-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.4rem;
        margin: 2rem 1rem;

        .category {
            list-style: none;
            border: 1px solid #777;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-weight: bold;
            transition: all 0.2s;
            background-color: #f7f9ff;

            flex-grow: 1;
            max-width: fit-content;

            @media (max-width: 768px) {
                max-width: 100%;
            }

            a {
                padding: 1.4rem;
                text-decoration: none;
                color: #333;
                font-size: 1.4rem;
                flex-grow: 1;
                border-radius: 5px;

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            &:hover {
                background-color: #333;
                transform: scale(1.1);

                a {
                    color: #eee;
                }
            }
        }
    }
}