@keyframes category-scale-up {
    from {
        scale: 1;
        @include scale-helper;
    }
    to {
        scale: 1.1;
        @include scale-helper;
    }
}

@mixin category-animation {
    transition: all 0.2s;

    &:hover {
        animation: category-scale-up 0.2s both;
    }
}

.homepage {
    &__logo {
        display: flex;
        justify-content: center;

        .logo {
            width: 15rem;
            max-width: 15rem;
            height: 15rem;
            max-height: 15rem;
        }
    }

    &__heading {
        text-align: center;
        display: flex;
        flex-direction: column;

        &--sub {
            a {
                display: inline-flex;
                align-items: center;
                justify-content: center;

                .icon {
                    width: 1.8rem;
                }
            }
        }
    }

    .categories-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.4rem;
        margin: 2rem 1rem;

        .category {
            list-style: none;
            border: 1px solid $color-background;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            flex-grow: 1;
            max-width: fit-content;

            @include category-animation();

            @media (max-width: 768px) {
                max-width: 100%;
            }

            a {
                padding: 1.4rem;
                text-decoration: none;
                flex-grow: 1;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
