.homepage {
    &__logo {
        display: flex;
        justify-content: center;

        .logo {
            width: 15rem;
            max-width: 15rem;
            height: 15rem;
            max-height: 15rem;
        }
    }

    &__heading {
        text-align: center;
        display: flex;
        flex-direction: column;

        &--main {
            font-size: 2.4rem;
            line-height: 2;
        }

        &--sub {
            font-size: 1.4rem;
            font-weight: normal;

            a {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: $color-font-dark;

                .icon {
                    width: 1.8rem;
                }
            }
        }
    }

    .categories-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.4rem;
        margin: 2rem 1rem;

        .category {
            list-style: none;
            border: 1px solid $color-background;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-weight: bold;
            transition: all 0.2s;
            background-color: $color-background-light-3;

            flex-grow: 1;
            max-width: fit-content;

            

            @media (max-width: 768px) {
                max-width: 100%;
            }

            a {
                padding: 1.4rem;
                text-decoration: none;
                color: $color-font-dark;
                font-size: 1.4rem;
                flex-grow: 1;
                border-radius: 5px;

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            &:hover {
                background-color: $color-background;
                animation: button-scale-up 0.2s both;

                a {
                    color: $color-font-light;
                }
            }
        }
    }
}
